ion-card{
  height: 100vh;
}



// CheckBox styling
ion-checkbox {
  --size: 25px;
  --background-checked: var(--ion-color-primary);
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid var(--ion-color-tertiary);
}