ion-icon{
 color: var(--ion-color-primary);
  font-size: 20px;
  cursor: pointer;
}

.cta{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--ion-color-tertiary);
}